fastapi==0.115.0
langdetect==1.0.9
pandas==2.2.3
pydantic==2.9.2
scikit_learn==1.5.2
SpeechRecognition==3.10.4
transformers==4.45.1
uvicorn==0.31.0
tensorflow==2.17.0
tf-keras
python-dotenv
python-multipart
Levenshtein
